.element__like {
  border: none;
  background-image: url(/images/like__disabled.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 26px;
  height: 19px;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}

.element__like:active {
  background-image: url(/images/like__active.svg);
  opacity: 1;
}