.profile__button-edit {
  width: 1.88vw;
  height: 1.88vw;
  margin: 0;
  margin-left: 1.41vw;
  margin-top: 2.89vw;
  border: 1px solid #fff;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0.55vw;
  background-size: 0.78vw;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media (max-width: 500px) {

  .profile__button-edit {
    width: 18px;
    height: 18px;
    padding: 5.25px;
    background-size: 7.5px;
    margin: 0;
  }

}