/* PAGE */

.page {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
}

/* HEADER */

.header {
    max-width: 68.75vw;
    min-height: 5.78vw;
    margin: 0 auto;
    padding-top: 3.52vw;
    border-bottom: 1px solid #545454;
}

@media (max-width: 500px) {

    .header {
        max-width: 100vw;
        min-height: 56px;
        padding-top: 28px;
    }

}

.logo {
    max-width: 11.09vw;
    margin-bottom: 3.20vw;
}

@media (max-width: 500px) {

    .logo {
        max-width: 103.74px;
        margin-left: 27px;
    }

}

/* PROFILE */

.profile {
    max-width: 68.75vw;
    margin: 0 auto;
    margin-top: 3.13vw;
    display: flex;
}

@media (max-width: 500px) {

    .profile {
        max-width: 282px;
        margin-top: 42px;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

}

.profile__avatar {
    max-width: 9.38vw;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 500px) {

    .profile__avatar {
        max-width: 120px;
        /* margin: 0 auto;  */
    }

}

.profile__info {
    max-width: 22.97vw;
    margin: 0;
    margin-top: 1.72vw;
    margin-left: 2.34vw;
}

@media (max-width: 500px) {

    .profile__info {
        max-width: 189px;
        margin: 0 auto;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.profile__name {
    font-weight: 500;
    font-size: 3.28vw;
    line-height: 3.75vw;
    margin: 0;
}

@media (max-width: 500px) {

    .profile__name {
        font-size: 27px;
        line-height: 32.68px;
    }

}

.profile__caption {
    font-weight: 400;
    font-size: 1.41vw;
    line-height: 1.72vw;
    margin: 0;
    margin-top: 1.25vw;
}

@media (max-width: 500px) {

    .profile__caption {
        font-size: 14px;
        line-height: 16.94px;
        margin-top: 14px;
    }

}

.profile__button-edit {
    width: 1.88vw;
    height: 1.88vw;
    margin: 0;
    margin-left: 1.41vw;
    margin-top: 2.89vw;
    border: 0.08vw solid #FFFFFF;
    background-image: url(./images/pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 0.55vw;
    background-size: 0.78vw;
    cursor: pointer;
}

.profile__button-edit:hover {
    opacity: 0.5;
}

@media (max-width: 500px) {

    .profile__button-edit {
        width: 18px;
        height: 18px;
        border: 1px solid #FFFFFF;
        padding: 5.25px;
        background-size: 7.5px;
        margin: 0;
        position: absolute;
        top: 52.2%;
        left: 86.5%;
    }

}

.profile__button-add {
    width: 11.72vw;
    height: 3.91vw;
    border: 0.16vw solid #FFFFFF;
    margin: 0;
    position: absolute;
    right: 15.6%;
    margin-top: 2.73vw;
    background-image: url(./images/+.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 1.09vw 5vw;
    background-size: 1.72vw;
    cursor: pointer;
}

.profile__button-add:hover {
    opacity: 0.5;
}

@media (max-width: 500px) {

    .profile__button-add {
        position: static;
        width: 282px;
        height: 50px;
        border: 2px solid #FFFFFF;
        margin: 0 auto;
        margin-top: 36px;
        padding: 17px 132px 17px 134px;
        background-size: 16px;
    }

}

/* ELEMENTS */

.elements {
    max-width: 68.75vw;
    margin: 0 auto;
    margin-top: 3.67vw;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    column-gap: 17px;
    row-gap: 20px;
}

@media (max-width: 845px) {

    .elements {
        max-width: 282px;
        margin-top: 36px;
    }

}

.element {
    max-width: 282px;
    min-height: 28.20vw;
    margin: 0;
}

@media (max-width: 845px) {

    .element {
        max-width: 282px;
        min-height: 361px;
    }

}

.element__image {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    vertical-align: middle;
}

.element__caption {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1.95vw 1.17vw 2.42vw 1.64vw;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 845px) {

    .element__caption {
        padding: 25px 15px 31px 21px;
    }

}

.element__text {
    margin: 0;
    color: #000;
    font-weight: 900;
    font-size: 1.88vw;
    line-height: 2.27vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 845px) {

    .element__text {
        font-size: 24px;
        line-height: 29.05px;
    }

}

.element__like {
    border: none;
    background-image: url(./images/like__disabled.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 26px;
    min-height: 19px;
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background-image: url(./images/like__active.svg);
    opacity: 1;
}

/* FOOTER */

.footer {
    max-width: 68.75vw;
    margin: 0 auto;
    margin-top: 5.23vw;
    margin-bottom: 4.69vw;
}

@media (max-width: 500px) {

    .footer {
        max-width: 100vw;
        margin-top: 48px;
        margin-bottom: 36px;
    }

}

.footer__copyright {
    font-weight: 400;
    font-size: 1.41vw;
    line-height: 1.72vw;
    color: #545454;
}

@media (max-width: 500px) {

    .footer__copyright {
        font-size: 14px;
        line-height: 16.94px;
        padding-left: 19px;
    }

}


/* POPUP */

.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.popup__open {
    display: flex;
}

.popup__container {
    width: 430px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

@media (max-width: 500px) {

    .popup__container {
        width: 282px;
        height: 322px;
    }

}

.popup__button-close {
    border: none;
    background-image: url(./images/button-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__button-close:hover {
    opacity: 60%;
}

@media (max-width: 500px) {

    .popup__button-close {
        background-image: url(./images/button-close-little.svg);
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }

}

.popup__form {
    width: 358px;
    padding: 34px 36px 37px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {

    .popup__form {
        width: 238px;
        padding: 25px 22px;
    }

}

.popup__header {
    width: 330px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    color: #000;
    margin: 0;
}

@media (max-width: 500px) {

    .popup__header {
        width: 238px;
        font-size: 18px;
        line-height: 21.78px;
    }

}

.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 41px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    padding-bottom: 13px;
}

@media (max-width: 500px) {

    .popup__input {
        margin-top: 62px;
        font-size: 14px;
        line-height: 16.94px;
    }

}

.popup__input-caption {
    margin-top: 17px;
}

.popup__input-button {
    margin-top: 48px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    cursor: pointer;
}

.popup__input-button:hover {
    opacity: 80%;
}

@media (max-width: 500px) {

    .popup__input-button {
        margin-top: 45px;
        height: 46px;
        font-size: 14px;
        line-height: 16.94px;
    }

}