.profile {
  max-width: 68.75vw;
  margin: 0 auto;
  margin-top: 3.13vw;
  display: flex;
}

@media (max-width: 500px) {

  .profile {
    max-width: 282px;
    margin-top: 42px;
    flex-wrap: wrap;
    align-items: center;
  }

}