.popup__button-close {
    border: none;
    background-image: url(./button-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__button-close:hover {
    opacity: 60%;
}

@media (max-width: 500px) {

    .popup__button-close {
        background-image: url(./button-close-little.svg);
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }

}