.logo {
  max-width: 11.09vw;
  margin-bottom: 3.20vw;
}

@media (min-width: 1281px) {

  .logo {
    max-width: 142px;
    margin-bottom: 41px;
  }

}

@media (max-width: 500px) {

  .logo {
    max-width: 103.74px;
    margin-left: 27px;
  }

}