.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 1.41vw;
  line-height: 1.72vw;
  color: #545454;
}

@media (min-width: 1281px) {

  .footer__copyright {
    font-size: 18px;
    line-height: 21.78px;
  }

}

@media (max-width: 500px) {

  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    padding-left: 19px;
  }

}