.profile__avatar {
  max-width: 9.38vw;
  border-radius: 50%;
  margin: 0;
  object-fit: cover;
}

@media (min-width: 1281px) {

  .profile__avatar {
    width: 120px;
  }

}

@media (max-width: 500px) {

  .profile__avatar {
    width: 120px;
  }

}