.profile__avatar {
    max-width: 9.38vw;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 500px) {

    .profile__avatar {
        max-width: 120px;
        /* margin: 0 auto;  */
    }

}