.profile__info {
    max-width: 22.97vw;
    margin: 0;
    margin-top: 1.72vw;
    margin-left: 2.34vw;
}

@media (max-width: 500px) {

    .profile__info {
        max-width: 189px;
        margin: 0 auto;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}