.popup__input-button {
    margin-top: 48px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    cursor: pointer;
}

.popup__input-button:hover {
    opacity: 80%;
}

@media (max-width: 500px) {

    .popup__input-button {
        margin-top: 45px;
        height: 46px;
        font-size: 14px;
        line-height: 16.94px;
    }

}