.element {
  max-width: 282px;
  min-height: 28.20vw;
  margin: 0;
}

@media (min-width: 1281px) {

  .element {
    min-height: 361px;
  }

}

@media (max-width: 845px) {

  .element {
    max-width: 282px;
    min-height: 361px;
  }

}